<h1>welcome to Bookers!!</h1>
<p>In Bookers</p>
<p>you can share and exchange your opinions , inpressions , and emotions
about varioius books!</p>

<%= link_to "Log in", "/users/sign_in" %><br>
<%= link_to "Sign Up", "/users/sign_up"%>


CopyRight Infratop.inc
